# Assingnment on Regular Expressions

In [14]:
# Question 1 :- 
import re
target_string = "Python Exercises ,PHP excercises'"
result = re.sub("[ ',.]",":",target_string)
print(result)

Python:Exercises::PHP:excercises:

In [15]:
#Question 2:-
import pandas as pd
dict_data = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(dict_data)
df['SUMMARY'] = df['SUMMARY'].str.replace('[,!;:...,123,XXXXX]', '',regex=True)
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

In [16]:
#Question 3:-
def words(target_string):
    result = re.compile(r"\w{4}")
    return result.findall(target_string)

words("Narendra Modi is the Prime Minister of India")

['Nare', 'ndra', 'Modi', 'Prim', 'Mini', 'ster', 'Indi']

In [17]:
#Question 4:-
def words(target_string):
    result = re.compile(r"\w{4,6}")
    return result.findall(target_string)

words("Narendra Modi is the Prime Minister of India")

['Narend', 'Modi', 'Prime', 'Minist', 'India']

In [18]:
# Question 5:-
def words(strings):
   
    pattern = re.compile(r"[\s*\([)\]]")
     
    new_string = [pattern.sub('', i) for i in strings]
    
    return new_string

sample_text = ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello(Data Science World)", "Data(Scientist)"]
result = words(sample_text)
for item in result:
    print(item)

example.com
hr@fliprobo.com
github.com
HelloDataScienceWorld
DataScientist

In [19]:
# Question 6:-

list = '["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]'
with open('list.txt', 'w') as f:
    f.write(list)


with open('list.txt', 'r') as f:
    text = f.read()


list_modified = re.sub(r'\s*\(.*?\)', '', text)


list_modified = list_modified.replace('[', '').replace(']', '').replace('"', '')


list_modified= [i.strip() for i in list_modified.split(',')]


print(list_modified)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

In [20]:
# Question 7 :-
string = "ImportanceOfRegularExpressionsInPython"
result = re.split(r'(?<!^)(?=[A-Z])', string)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [21]:
# Question 8 :-
def word3(sample_text): 
    pattern = r'(?=\d)'
    result = re.sub(pattern, ' ', sample_text)
    return result
word3("RegularExpression1IsAn2ImportantTopic3InPython")

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

In [22]:
# Question 9
def word3(sample_text): 
    pattern = r'(?=[A-Z]|\d)'
    result = re.sub(pattern, ' ', sample_text)
    return result
word3("RegularExpression1IsAn2ImportantTopic3InPython")

' Regular Expression 1 Is An 2 Important Topic 3 In Python'

In [23]:
# Question 10
import pandas as pd

url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)
df.head()
df["first_five_letters"]=df['Country'].str[:6]
print(df)
df.head()

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738             Switze
1       0.43630            2.70201             Icelan
2       0.34139            2.49204             Denmar
3       0.34699            2.46531             Norway
4       0.45811            2.45176             Canada
..          ...                ...                ...
153     0.22628            0.67042             Rwanda
154     0.18260            1.63328              Benin
155     0.47179            0.32858              Syria
156     0.19727            1.83302             Burund
157     0.16681            1.56726               Togo

[158 rows x 13 columns]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [24]:
#Question 11:-


def match_string(text):
    pattern = r'^[a-zA-Z0-9_]+$'
    
    if re.fullmatch(pattern, text):
        return True
    else:
        return False
    
print(match_string("RegularExpression1IsAn2ImportantTopic3InPython_"))

True

In [25]:
# Question 12 :-

def match_num(string):
    
    if re.match(r"^8",string):
        return True
    else:
        return False
print(match_num('5_2345861'))
print(match_num('8_2345861'))
print(match_num("RegularExpression1IsAn2ImportantTopic3InPython_"))

False
True
False

In [26]:
# Question 13 :-
def ipaddress(ip):
    str = re.sub('\.[0]*', '.', ip)
    print(str)

ipaddress("116.08.092.0196")

116.8.92.196

In [27]:
#Question 14:-
import re

text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."
with open('text.txt', 'w') as f:
    f.write(text)


with open('text.txt', 'r') as f:
    text_1 = f.read()

pattern = r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"

matches = re.findall(pattern, text)
a=""
for i in matches:
    a=a+i
    print(a)

August 15th 1947

In [50]:
#Question 15:-

def strings_(text, literals):
    for words in literals:
        if words in text:
            print(f"'{words}' found in the text.")
        else:
            print(f"'{words}' not found in the text.")


text = 'The quick brown fox jumps over the lazy dog.'
literals = ['fox', 'dog', 'horse']

strings_(text, literals)

'fox' found in the text.
'dog' found in the text.
'horse' not found in the text.

In [29]:
#Question 16:-

pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print(f'Found "{pattern}" from {s} to {e}')

Found "fox" from 16 to 19

In [30]:
#Question 17 :-

text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

def match_num2(text):
    if re.finditer(pattern, text):
        return True
    else:
        return False
print(match_num2('Python exercises, PHP exercises, C# exercises'))

True

In [31]:
#Question 18 :-
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'

matches = re.finditer(pattern, text)

for match in matches:
    print(f'Found "{pattern}" in "{text}" from {match.start()} to {match.end()}')

Found "exercises" in "Python exercises, PHP exercises, C# exercises" from 7 to 16
Found "exercises" in "Python exercises, PHP exercises, C# exercises" from 22 to 31
Found "exercises" in "Python exercises, PHP exercises, C# exercises" from 36 to 45

In [32]:
#Question 19:-
from datetime import datetime

date_input=input("Enter date in the format yyyy-mm-dd ")

date_object = datetime.strptime(date_input, '%Y-%m-%d')

date_output = date_object.strftime('%d-%m-%Y')
print(date_output)

Enter date in the format yyyy-mm-dd 2024-12-25
25-12-2024

In [33]:
# Question 20:-
def decimal_num(text):
    pattern = re.compile(r'\b\d+(?:\.\d{1,2})\b')
    return pattern.findall(text)

text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
print(decimal_num(text))

['01.12', '145.8', '3.01', '27.25', '0.25']

In [34]:
# Question 21:-

def string_(input_string):
    pattern = re.compile(r'\d+')
    matches = pattern.finditer(input_string)
    for i in matches:
        number= i.group()
        position=i.start()
        print(f"Number: {number}, Position: {position}")
        
input_string = input("Enter a string to check")
string_(input_string)

Enter a string to checkThere are 12 bananas,10 mangoes and 12 pineapples
Number: 12, Position: 10
Number: 10, Position: 21
Number: 12, Position: 36

In [35]:
# Question 22:-
input_ = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

marks = re.findall(r'\d+', input_)
marks= [int(value) for value in marks]

max_marks = max(marks)

print(max_marks)

950

In [36]:
# Question 23 :-
def insert_spaces(text):
    return re.sub(r"(\w)([A-Z])", r"\1 \2", text)

text = "RegularExpressionIsAnImportantTopicInPython"
print(insert_spaces(text))

Regular Expression Is An Important Topic In Python

In [37]:
# Question 24 :-
def upper_lower(text):
    return re.findall(r"[A-Z][a-z]+", text)

text = "RegularExpressionIsAnImportantTopicInPython"
print(upper_lower(text))

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

In [38]:
# Question 25 :-
sentence = "Hello hello world world"
new_sentences =re.sub(r"\b(\w+)\s+\1\b", r"\1", sentence,)
print(new_sentences)

Hello hello world

In [39]:
# Question 26:-
def accept_string(my_string):
    pattern = '[a-zA-Z0-9]*$'
    if re.search(pattern, my_string):
        print("The string ends with an alphanumeric character.")
    else:
        print("The string does not end with an alphanumeric character.")
my_string_1 = "Python123"
print("The string is :")
print(my_string_1)
accept_string(my_string_1)

The string is :
Python123
The string ends with an alphanumeric character.

In [40]:
# Question 27:-
import re
def extract_hashtags(text):
    List = []
    regex_pattern = r'#\w+'
    for match in re.finditer(regex_pattern, text):
        List.append(match.group())
    return List
text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
print(extract_hashtags(text))

['#Doltiwal', '#xyzabc', '#Demonetization']

In [41]:
# Question 28:-
input_ = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization  are all different party leaders"

pattern = r"<U\+\w{4}>"
output_ = re.sub(pattern, "", input_)

print(output_)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization  are all different party leaders

In [42]:
# Question 29:-
text_ = "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
with open('text_.txt', 'w') as f:
    f.write(text_)
with open('text_.txt', 'r') as f:
    text_2 = f.read()
pattern = r'(\d{2}-\d{2}-\d{4})'
dates = re.findall(pattern, text_2)
print(dates)

['12-09-1992', '15-12-1999']

In [43]:
# Question 30:-
def words(text_remove):
    pattern = re.compile(r'\b\w{2,4}\b')
    modified_string = re.sub(pattern, '', text_remove)
    return modified_string
text_remove= "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
print(words(text_remove))

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.